.seatContainer {
  border: 0.5px solid violet;
  border-radius: 4px;
}

.seat {
  color: violet;
  font-weight: 700;
  display: inline-block;
  width: 50%;
  height: 20px;
  text-align: center;
}
.seat.active {
  background: green;
}
.seat.disabledPerson {
  background: yellow;
  opacity: 0.5;
}
.seat.infant {
  background: blue;
  opacity: 0.5;
}
.seat.check-in {
  background: green;
  opacity: 0.5;
}
